<div class="sidebar">
      <div class="callbox">Your local specialist <span>07890 123456</span></div>
      <div class="servicebox service2">
        <div class="service2top">
          <div class="service2btm">
            <strong class="title">Track your order</strong>
             <%= form_tag('/orders/search', method: :get) do %>
              <%= text_field_tag "Number"%>
             <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
