<div class="sidebar">
      <div class="callbox">Your local specialist <span>07890 123456</span></div>
      <div class="servicebox service1">
        <div class="service1top">
          <div class="service1btm">
            <strong class="title">Our Services</strong>
            <ul>
              <li><h3>standard parcels</h3></li>
              <li><h3>legal documents</h3></li>
              <li><h3>urgent</h3></li>
              <li><h3>medical supplies</h3></li>
              <li><h3>sensitive material</h3></li>
              <li><h3>valuable cargo</h3></li>
              <li><h3>hazardous loads</h3></li>
              <li><h3>contract work</h3></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="servicebox service2">
        <div class="service2top">
          <div class="service2btm">
            <strong class="title">Service Areas</strong
              <ul>
                <li><h3>Wrexham</h3></li>
                <li><h3>Mold</h3></li>
                <li><h3>Oswestry</h3></li>
                <li><h3>Llangollen</h3></li>
                <li><h3>Malpas</h3></li>
                <li><h3>Whitchurch</h3></li>
                <li><h3>Welshpool</h3></li>
                <li><h3>Chester</h3></li>
                <li><h3>Ruthin</h3></li>
                <li><h3>Conwy</h3></li>
                <li><h3>Bangor</h3></li>
                <li><h3>Shrewsbury</h3></li>
                <li><h3>Rhyl</h3></li>
                <li><h3>Telford</h3></li>
                <li><h3>Bala</h3></li>
                <li><h3>Denbigh</h3></li>
                <li><h3>Newtown</h3></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
