
<div class="mainlist">
  <h1>Local Courier<br />J.W Couriers in Wrexham</h1>
  <ul>
    <li>Independent local courier</li>
    <li>Same day specialist</li>
    <li>Local &amp; nationwide</li>
    <li>Parcels to small pallets</li>
    <li>Personal door to door service</li>
    <li>Goods in transit insurance</li>
  </ul>
  <div class="staticimg"><%= image_tag "image_5766_l1065_c.jpg"%></div>
  <div class="cl"></div>

  <div class="sepline"><%= image_tag "flourish.gif"%></div>
  <div class="contactbox subcontact">
    <dl>
      <dt>J.W Couriers</dt>
      <dd>      123 Mold Road <br/> 
       Wrexham<br/>  
       LL113AT <br/>    </dd>
       <dd class="add">Tel: 07890 123456</dd>
       <dd>  </dd>
     </dl>
  </div>
</div>



