.nav.navbar-nav.main_nav{
  padding-top: 0px;
}
.service1btm{
  width: 100%;
}

.service2btm{
  width: 100%;
}
.callbox{
  height: 184px;
}

.mainbox .mainlist{
  width: 100%;
}

.checkboxes{
  margin-left: 22px;
}

#button_add_lineitem{
  margin-bottom: 14px;
}